<div class="card" style="width: 20rem;">
 {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}">
    {% comment %} <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title}} logo"></a> {% endcomment %}
    {% endif %}
    
   <div class="card-body text-dark">{{instance.id}}{{instance.get_absolute_url}}
    <h4 class="card-title">{{ instance.name}}</h4>
    <p class="card-text">{{ instance.content|linebreaks|truncatewords:14 }}</p>
    <p class="card-text">{{ instance.price|linebreaks|truncatewords:14 }}</p>
    <p class="card-text">{{ instance.inventory|linebreaks|truncatewords:14 }}</p>
    <p class="card-text">{{ instance.featured|linebreaks|truncatewords:14 }}</p>
    <p class="card-text">{{ instance.can_backorder|linebreaks|truncatewords:14 }}</p>
     <p class="card-text">{{ instance.requires_shipping|linebreaks|truncatewords:14 }}</p>
    <div class='text-center'>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-primary my-2">View</a>
        {% comment %} {% include 'products/snippets/update-cart.html' with product=instance cart=cart %} {% endcomment %}
    </div>   
  </div>
</div>


 