{% extends "base.html" %}


{% block content %}


    <div class='row'>
        <div class='col-12 col-md-6'>
                <h1>{{ object.name}}</h1>
                {% comment %} {{ object.timestamp|timesince }} ago
                {{ object.description|linebreaks }}<br/>
                {% if object.image %}
                    <img src='{{ object.image.url }}' class='img-fluid' />
                {% endif %} {% endcomment %}
        </div>
        <div class='col-12 col-md-6'>
            {% comment %} {% include 'products/snippets/update-cart.html' with product=object cart=cart %} {% endcomment %}

        </div>
</div>


{% endblock %} 