{% extends "base.html" %}
list
{% block content %}
        <div class='row'>

    {% for obj in object_list %}
        <div class='col my-3'>
    
        {% include 'products/snippets/card.html' with instance=obj %}  
        
        </div>
    {% endfor %}
</div>
{% endblock %} 